<div id="carousel-example-generic" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="~/Content/img/home/baby_infos.jpg" alt="First slide">
        </div>
    </div>
</div>
