<div class="container_categories">
    <div class="row">
        <a class="cat cat1" href="@Url.Action("Create", "List")">
            Je suis parent<br />
            et Je CREE MA LISTE<br /><br />
        </a>
        <a class="cat cat2" href="@Url.Action("Search", "List")">
            Je veux<br />
            OFFRIR UN CADEAU<br /><br />
        </a>
    </div>
</div>
