@{
    ViewBag.Title = "Créez votre liste de naissance";
}

<div id="indexCarousel">
    @Html.Partial("_Carousel")
</div>
<div id="indexLinks">
    @Html.Partial("_Links")
</div>

@section howItWorks{
    @Html.Partial("_HowItWorks")
}


@section moreFooter{
    @Html.Partial("_MoreFooter")
}
