@{
    ViewBag.Title = "Maintenance en cours";
}

<h2>Maintenance en cours...</h2>

<h3>Le site Pousse De Bambin est actuellement en maintenance, vous pouvez tester certaines fonctionnalités, mais celles ci risquent de ne pas fonctionner correctement le temps de tout remettre à la normale !</h3>
<img src="~/Content/themes/base/images/503/cigogne.jpg" style="width:100%;" />
