To: info@poussedebambin.com
From: Remi - Pousse De Bambin <remi@poussedebambin.com>
Subject: Nouvelle liste créée

<h1>Une nouvelle liste vient de se créer !</h1>

<p>Bonjour Admin !</p>

<p>Bonne nouvelle, <strong>@ViewBag.UserName</strong> (@ViewBag.FullName) vient de créer sa liste ;).</p>
<p>Cliquez sur <a href="@ViewBag.UrlList">ce lien</a> pour accéder directement à sa pousse de liste !</p>
<p>Voici son adresse mail pour la contacter directement <a href="mailto:@ViewBag.UserMail">@ViewBag.UserMail</a></p>

<p>Pousse De Bambinement...</p>
<p><strong>Rémi Marenco</strong></p>
