To: @ViewBag.To
From: remi@poussedebambin.com
Subject: @ViewBag.Subject

<h1>Inscription réussie !</h1>
<p>Félicitations @ViewBag.FirstName, vous venez de vous inscrire sur notre site de listes de naissance !</p>
<p>
    Voici le lien pour confirmer votre inscription :
    <a href='@Url.Action("RegisterConfirmation", "Account", new { Id = ViewBag.ConfirmationToken }, Request.Url.Scheme)'>Confirmation d'inscription</a>
</p>
<p>A très bientôt sur notre site !</p>
<p>Rémi et Marion</p>