To: @ViewBag.To
From: remi@poussedebambin.com
Subject: @ViewBag.Subject

<h1>Inscription réussie !</h1>
<p>Félicitations @ViewBag.FirstName, vous venez de vous inscrire sur notre site de listes de naissance !</p>
<p>Cliquez sur <a href="@ViewBag.UrlHost">ce lien</a> pour accéder directement à "Pousse De Bambin" !</p>

<p>A très bientôt !</p>
<p>Rémi et Marion</p>