@model MerciLaCigogne.Models.UserProfile

@if (Model.Lists.Count != 0)
{
    <div>Vos listes</div>
    <ul>
        @foreach (var list in Model.Lists)
        {
            <li>
                @Html.ActionLink(list.Name, "CreatePartTwo", new { controller = "List", id = list.ListId })
            </li>
        }
    </ul>
}
else
{
    <p>Vous n'avez aucune liste pour le moment</p>
}