@model Double

<span class="rateit rateitDisplay" data-rateit-value="@Model.ToString().Replace(',', '.')" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-resetable="false"></span>
