@font-face {
    font-family: 'amatic_scregular';
    src: url(fonts/amaticsc-regular-webfont.eot);
    src: url(fonts/amaticsc-regular-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/amaticsc-regular-webfont.woff) format('woff'), url(fonts/amaticsc-regular-webfont.ttf) format('truetype'), url(fonts/amaticsc-regular-webfont.svg#amatic_scregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amaticbold';
    src: url(fonts/amatic-bold-webfont.eot);
    src: url(fonts/amatic-bold-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/amatic-bold-webfont.woff) format('woff'), url(fonts/amatic-bold-webfont.ttf) format('truetype'), url(fonts/amatic-bold-webfont.svg#amaticbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url(fonts/bebasneue-webfont.eot);
    src: url(fonts/bebasneue-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/bebasneue-webfont.woff) format('woff'), url(fonts/bebasneue-webfont.ttf) format('truetype'), url(fonts/bebasneue-webfont.svg#bebas_neueregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marketing_scriptregular';
    src: url(fonts/marketingscript-webfont.eot);
    src: url(fonts/marketingscript-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/marketingscript-webfont.woff) format('woff'), url(fonts/marketingscript-webfont.ttf) format('truetype'), url(fonts/marketingscript-webfont.svg#marketing_scriptregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    background: #F1EFCC;
}

input {
    border-radius: 3px;
    padding-left: 5px;
}

/*--------------------------CONNEXION BAR------------------*/
.barre_connexion {
    height: 33px;
    background-color: #382a21;
    padding-left: 800px;
}

.form-group {
    display: inline-block;
    margin-top: 3px;
}

.form-group .form-control {
    border-radius: 2px;
    border: #fff;
    width: 150px;
}

/*------------------dropdown menu connexion_bar------------*/
.dropdown-menu {
    display: inline-block;
    position: relative;
    z-index: 10;
}

* + html .dropdown-menu {
    display: inline;
    /* pour IE7 */
}

.dropdown-menu p {
    margin-top: 7px;
    font-family: 'arial';
    color: #f0e79c;
    margin-bottom: 7px;
}

.dropdown-menu a {
    text-decoration: none;
    color: #382a21;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a.current {
    color: #af8c76;
}

.dropdown-menu ul {
    margin: 0;
    overflow: hidden;
    padding: 0 5px;
    /* a changer */
    background: #fff;
}

.dropdown-menu ul li {
    padding: 5px 5px 5px;
    list-style: none;
    white-space: nowrap;
    text-decoration: none;
    font-family: 'bebas_neueregular';
    font-size: 15px;
}

.dropdown-menu ul li.divider {
    border-top: 2px solid #f0e79c;
    padding-top: 5px;
}

.dropdown-menu > ul {
    max-height: 0;
    -webkit-transition: 0.5s max-height;
    transition: 0.5s max-height;
    text-decoration: none;
    /* a changer */
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 5px #c1c1c1 inset,;
}

.dropdown-menu:hover > ul,
.dropdown-menu.dm-focus > ul {
    max-height: 500px;
    overflow: visible;
}

.dropdown-menu .dropdown-menu ul {
    position: absolute;
    max-width: 0;
    left: 100%;
    top: 0;
    -webkit-transition: 0.5s max-width;
    transition: 0.5s max-width;
    /* a changer */
    border-radius: 0 5px 5px 0;
}

.dropdown-menu .dropdown-menu:hover > ul,
.dropdown-menu .dropdown-menu.dm-focus > ul {
    max-width: 200px;
}

/*------------------fin dropdown menu connexion_bar------------*/
/*--------------------------CONNEXION BAR------------------*/
/*-----------------------HEADER------------------------*/
header {
    background-image: -webkit-linear-gradient(#f4e98e, #f4e98e 60%, #81aa8e);
    background-image: linear-gradient(#f4e98e, #f4e98e 60%, #81aa8e);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4e98e', endColorstr='#ff81aa8e', GradientType=0);
    height: 183px;
    position: relative;
    z-index: 5;
}

header .logo {
    background: url(img/home/logo.png) no-repeat;
    height: 210px;
    width: 210px;
    display: inline-block;
    z-index: 20;
    position: relative;
}

header .header_bottom {
    background: url(img/home/herbe_header.png) repeat-x;
    height: 54px;
    position: relative;
    z-index: 10;
    margin-top: 92px;
    border-bottom: solid 10px #382a21;
}

header:after {
    height: 177px;
    content: url(img/home/champignons_header.png);
    position: absolute;
    left: 50%;
    top: 3px;
    margin-left: 350px;
}

header:before {
    height: 177px;
    content: url(img/home/fleur_header.png);
    left: 50%;
    position: absolute;
    top: 0px;
    margin-left: -480px;
}

.menu a {
    text-decoration: none;
    line-height: 50px;
    font-family: arial;
    font-family: 'amaticbold';
    font-size: 28px;
    color: #000000;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    position: relative;
    z-index: 30;
    margin-top: -30px;
}

.menu a:hover,
#menu a:focus,
#menu a.current {
    color: #af8c76;
}

.menu ul {
    height: 32px;
    text-align: center;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 30px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0% 10px;
    margin-top: 90px;
    vertical-align: top;
}

.menu ul li:last-child {
    padding-right: 0px;
    margin-right: 0;
}

.menu ul a {
    line-height: 0px;
}

/*-----------------------FIN HEADER------------------------*/
/*-----------------------CATEGORIES------------------------*/
.img-responsive {
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 40;
}

.container_categories {
    background: #fff;
    height: 364px;
    text-align: center;
}

.container_categories a {
    margin-bottom: 20px;
}

.container_categories .cat:hover:after {
    padding-bottom: 20px;
}

.container_categories .cat {
    background: url(img/home/fond_illus.png) no-repeat;
    height: 383px;
    width: 500px;
    font-family: 'bebas_neueregular';
    color: #808080;
    font-size: 30px;
    padding-top: 106px;
    font-weight: normal;
    position: relative;
    z-index: 50;
    margin-top: -125px;
}

.container_categories .cat1 {
    color: #296a52;
}

.container_categories .cat2 {
    color: #ea744e;
}

.container_categories .cat3 {
    color: #691b35;
}

.container_categories .cat1:after {
    content: url(img/home/illu_creer.jpg);
    position: absolute;
    bottom: 10px;
    left: 116px;
    transition: 0.5s;
}

.container_categories .cat2:after {
    content: url(img/home/illu_offrir.jpg);
    position: absolute;
    bottom: 8px;
    left: 116px;
    transition: 0.5s;
}

.container_categories a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

/*-----------------------FIN CATEGORIES------------------------*/
/*-----------------------HOW IT WORKS------------------------*/
footer .row {
    background: #f0e79c;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .marche {
    background: url(img/home/banderole.png) no-repeat;
    height: 80px;
    width: 424px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    font-family: 'marketing_scriptregular';
    font-size: 32px;
    text-indent: -20px;
}

.howItWorks_main {
    background: url(img/home/herbe_footer.png) 0 100% repeat-x #f0e79c;
    text-align: center;
    padding-top: 30px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.howItWorks_main:before {
    content: url(img/home/fleur_footer.png);
    bottom: -15px;
    left: 50%;
    margin-left: -640px;
    position: absolute;
}

.howItWorks_main:after {
    content: url(img/home/biberoncadeaux_footer.png);
    bottom: -20px;
    left: 50%;
    margin-left: 440px;
    position: absolute;
}

.step {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    color: #fff;
    width: 280px;
    height: 215px;
}

.step + .step {
    margin-left: 20px;
}

.step.step1 {
    background: url(img/home/img_etape1.jpg) no-repeat 0 100%;
}

.step.step2 {
    background: url(img/home/img_etape2.jpg) no-repeat 0 100%;
}

.step.step3 {
    background: url(img/home/img_etape3.jpg) no-repeat 0 100%;
}

.step .howItWorksText {
    font-family: 'marketing_scriptregular';
    text-align: center;
    font-size: 20px;
}

.step .numberHowItWorks {
    font-family: 'bebas_neueregular';
    font-size: 30px;
    color: #382a21;
}

.panel-body {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

/*-----------------------FIN HOW IT WORKS------------------------*/
/*-----------------------FOOTER------------------------*/
#liensFooter .row {
    background: #382a21;
    height: 30px;
    padding-top: 5px;
    text-align: center;
}

#liensFooter .row .element {
    display: inline;
    margin: 40px;
}

#liensFooter .row a {
    text-decoration: none;
    color: #fff;
    font-family: 'amatic_scregular';
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

#liensFooter a:hover,
#liensFooter a:focus,
#liensFooter a.current {
    color: #af8c76;
}

/*-----------------------FIN FOOTER------------------------*/
/*-----------------------page création de liste------------------------*/
.create_list_title {
    background: url(img/create/pancarte.png) no-repeat;
    height: 170px;
    width: 457px;
    margin: 0 auto;
    margin-top: -20px;
    position: relative;
    z-index: 30;
}

fieldset {
    border: none;
}

.form_create_list {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    margin-left: 200px;
}

.img_create {
    background: url(img/create/img_create.jpg) no-repeat;
    height: 301px;
    width: 450px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: solid 3px #ea744e;
}

legend {
    font-family: 'amaticbold';
    font-size: 30px;
    color: #382a21;
    margin-bottom: 20px;
}

.editor-label {
    font-family: 'bebas_neueregular';
    color: #829516;
    margin-bottom: 5px;
}

.editor-field {
    border-radius: 4px;
}

.picker {
    width: 350px;
    border-radius: 4px;
}

textarea {
    width: 350px;
    height: 100px;
    border-radius: 3px;
    border-color: #aec383;
}

.text-box {
    border-radius: 3px;
}

.btn-success {
    background: url(img/create/bouton_creer_liste.png) no-repeat;
    height: 109px;
    width: 277px;
    border: none;
}

.error_message {
    color: #ea744e;
    font-family: Arial;
}

/*-------------------message erreur connexion bar------------------*/
.validationConnexionBar {
    display: inline;
    color: #ea744e;
}

.validationConnexionBar ul {
    display: inline-block;
}

/*-------------------fin message erreur connexion bar------------------*/
/*------------------- PAGE RECHERCHE LISTE - NOM/PRENOM ------------------*/
.search_list_block {
    text-align: center;
}

.search_list_block .list_search_title {
    font-family: 'amatic_scregular';
    font-size: 40px;
    color: #382a21;
    text-align: center;
}

.search_list_block .name_surname_search {
    font-family: 'bebas_neueregular';
    font-size: 20px;
    color: #829516;
}

.search_list_block .search_list_btn {
    background: url(img/search/bouton_rechercher.png) no-repeat;
    height: 63px;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 21px;
    font-family: 'bebas_neueregular';
    font-size: 17px;
    color: #fff;
    border: none;
    padding-top: 23px;
}

.search_list_block .search_list_btn:hover {
    background-image: url(img/search/bouton_rechercher_hover.png);
    color: #f0e79c;
}