@font-face {
    font-family: 'amatic_scregular';
    src: url(fonts/amaticsc-regular-webfont.eot);
    src: url(fonts/amaticsc-regular-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/amaticsc-regular-webfont.woff) format('woff'), url(fonts/amaticsc-regular-webfont.ttf) format('truetype'), url(fonts/amaticsc-regular-webfont.svg#amatic_scregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amaticbold';
    src: url(fonts/amatic-bold-webfont.eot);
    src: url(fonts/amatic-bold-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/amatic-bold-webfont.woff) format('woff'), url(fonts/amatic-bold-webfont.ttf) format('truetype'), url(fonts/amatic-bold-webfont.svg#amaticbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url(fonts/bebasneue-webfont.eot);
    src: url(fonts/bebasneue-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/bebasneue-webfont.woff) format('woff'), url(fonts/bebasneue-webfont.ttf) format('truetype'), url(fonts/bebasneue-webfont.svg#bebas_neueregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marketing_scriptregular';
    src: url(marketingscript-webfont.eot);
    src: url(marketingscript-webfont.eot?#iefix) format('embedded-opentype'), url(marketingscript-webfont.woff) format('woff'), url(marketingscript-webfont.ttf) format('truetype'), url(marketingscript-webfont.svg#marketing_scriptregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.barre_connexion {
    height: 33px;
    background-color: #382a21;
    padding-left: 800px;
}

.form-group {
    display: inline-block;
    margin-top: 3px;
}

.form-group .form-control {
    border-radius: 1px;
    border: #fff;
}

header {
    background: linear-gradient(#f4e98e, #aec383);
    height: 183px;
    position: relative;
}

header .logo {
    background: url(img/home/logo.png) no-repeat;
    height: 210px;
    width: 210px;
    display: inline-block;
    z-index: 20;
    position: relative;
}

header .header_bottom {
    background: url(img/home/herbe_header.png) repeat-x;
    height: 54px;
    position: relative;
    z-index: 10;
    margin-top: 92px;
    border-bottom: solid 10px #382a21;
}

header:before {
    height: 177px;
    content: url(img/home/champignons_header.png);
    left: 200px;
    position: absolute;
    left: 1030px;
    top: 3px;
}

header:after {
    height: 177px;
    content: url(img/home/fleur_header.png);
    left: 200px;
    position: absolute;
    right: 1000px;
    top: -15px;
}

.menu a {
    text-decoration: none;
    line-height: 50px;
    font-family: arial;
    font-family: 'amaticbold';
    font-size: 28px;
    color: #000000;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    position: relative;
    z-index: 30;
    margin-top: -30px;
}

.menu a:hover,
#menu a:focus,
#menu a.current {
    color: #af8c76;
}

.menu ul {
    height: 32px;
    width: 100%;
    text-align: center;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 30px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0% 10px;
    margin-top: 90px;
    vertical-align: top;
}

.menu ul a {
    line-height: 0px;
}

.img-responsive {
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 40;
}

.container_categories {
    background: #fff;
    height: 364px;
    text-align: center;
}

.container_categories a {
    margin-bottom: 20px;
}

.container_categories .cat:hover:after {
    padding-bottom: 20px;
}

.container_categories .cat {
    background: url(img/home/fond_illus.png) no-repeat;
    height: 383px;
    width: 500px;
    font-family: 'bebas_neueregular';
    color: #808080;
    font-size: 30px;
    padding-top: 106px;
    font-weight: normal;
    position: relative;
    z-index: 50;
    margin-top: -125px;
}

.container_categories .cat1 {
    color: #296a52;
}

.container_categories .cat2 {
    color: #ea744e;
}

.container_categories .cat3 {
    color: #691b35;
}

.container_categories .cat1:after {
    content: url(img/home/illu_creer.jpg);
    position: absolute;
    bottom: 10px;
    left: 116px;
    transition: 0.5s;
}

.container_categories .cat2:after {
    content: url(img/home/illu_offrir.jpg);
    position: absolute;
    bottom: 8px;
    left: 116px;
    transition: 0.5s;
}

.container_categories a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

footer .row {
    background: #f0e79c;
    height: 400px;
    display: block;
    padding-top: 40px;
}

footer .marche {
    background: url(img/home/banderole.png) no-repeat;
    height: 80px;
    width: 424px;
    display: block;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 10px;
}

footer .marche p {
    color: #fff;
    font-family: 'Marketing Script';
    font-size: 30px;
}

.howItWorksText {
    font-family: 'marketing_scriptregular';
    text-align: center;
}

.panel-body {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

/* Dropdown-SubMenu */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu .pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* End Dropdown-SubMenu */