@{
    ViewBag.Title = "ThanksRegister";
}

<h2>Merci pour votre confirmation d'inscription !</h2>

<p>Merci pour votre confirmation d'inscription, @Html.ActionLink("Connectez vous", "Login", "Account", null, null) afin de pouvoir accéder à vos listes !</p>
