@{
    ViewBag.Title = "ThanksRegister";
}

<h2>Merci pour votre inscription !</h2>

<p>Merci pour votre inscription, veuillez confirmer via le mail reçu (n'hésitez pas à regarder dans vos spams) !</p>
