.login_title h2 {
  font-family: 'amatic_scregular';
  color: #829517;
  font-weight: bold;
  font-size: 2em;
}
#loginForm h4 {
  font-family: 'bebas_neueregular';
  color: #AF5C63;
  font-weight: normal;
  font-size: 1.2em;
  display: inline;
  margin: 0;
  float: left;
}
.padding-title h4 {
  padding-top: 40px;
}
.form-account {
  margin: 0 auto;
  width: 800px;
}
#login_connexion {
  background: url('/Content/img/giftsList/bouton_offrir.png');
  width: 180px;
  height: 55px;
  font-family: 'bebas_neueregular';
  font-size: 1.2em;
  padding-top: 24px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}
.login_create {
  background: url('/Content/img/giftsList/bouton_pas_achete.png');
  padding: 28px 58px 4px 58px;
  font-family: 'bebas_neueregular';
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin-left: 185px;
}
.login_button {
  margin-left: 45px;
  display: inline-block;
}
#login {
  width: 315px;
  display: inline-block;
  margin-left: 130px;
}
#login .form-group {
  margin-bottom: 20px;
}
.margin-form {
  margin-left: 19px;
}
.form-horizontal .form-control {
  margin-bottom: 5px;
  margin-left: 10px;
}
.label {
  font-family: Arial;
  font-size: 0.9em;
  color: #382922;
}
.login_separation {
  background: url('/Content/img/create/login_separation.png') repeat-x;
  width: 800px;
  height: 2px;
  margin: 30px 0 80px 0;
}
.first_list {
  width: 800px;
}
#register_title h2 {
  font-family: 'amatic_scregular';
  color: #829517;
  font-weight: bold;
  font-size: 2em;
}
#register_subtitle h4 {
  font-family: 'bebas_neueregular';
  color: #AF5C63;
  font-weight: normal;
  font-size: 1.2em;
  margin-left: 40px;
}
.subtitle_register h3 {
  font-family: 'bebas_neueregular';
  color: #AF5C63;
  font-weight: normal;
  font-size: 1.2em;
  text-align: left;
  margin: 13px 0 13px 0;
}
#register_left_column {
  width: 300px;
  float: left;
  margin-left: 180px;
  font-family: Arial;
  font-size: 0.9em;
  color: #382922;
}
#register_right_column {
  width: 300px;
  float: left;
  font-family: Arial;
  font-size: 0.9em;
  color: #382922;
}
.btn_inscription {
  background: url('/Content/img/giftsList/bouton_offrir.png') no-repeat;
  width: 180px;
  height: 55px;
  font-family: 'bebas_neueregular';
  font-size: 1.2em;
  padding-top: 24px;
  color: #fff;
  cursor: pointer;
  margin: 20px 0 20px 310px;
}
.form-group .register .userName {
  float: left;
}
.connexionBar {
  height: 27px;
  background-color: #4a3c33;
}
.connexionBar > * {
  position: relative;
  z-index: 10;
}
.connexionBar .barre_connexion {
  height: 27px;
  margin: 0 auto;
  text-align: right;
  width: 1005px;
}
#submitLogin {
  background: none;
  color: #c1c1c1;
  cursor: pointer;
}
.form-group {
  display: inline-block;
  vertical-align: middle;
}
.form-group .form-control {
  border-radius: 1px;
  border: #fff;
  width: 150px;
}
h2 {
  font-family: 'bebas_neueregular';
  color: #AF5C63;
  font-weight: normal;
}
h3 {
  font-family: 'arial';
  text-align: center;
}
/*-------------------message erreur connexion bar------------------*/
.validationConnexionBar {
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  color: #ea744e;
  font-family: 'arial';
  font-size: 12px;
  position: absolute;
  font-weight: bold;
  z-index: 100;
  margin-top: 20px;
}
.validationConnexionBar ul {
  display: inline-block;
}
/*-------------------fin message erreur connexion bar------------------*/
/*------------------dropdown menu connexion_bar------------*/
.dropdown-menu {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  text-align: center;
}
* + html .dropdown-menu {
  display: inline;
  /* pour IE7 */
}
.dropdown-menu > *:first-child {
  cursor: pointer;
}
.dropdown-menu p {
  background: url('/Content/img/giftsList/fleche_connexion.png') no-repeat 100%;
  margin-top: 5px;
  font-family: 'arial';
  font-size: 14px;
  color: #f0e79c;
  margin-bottom: 7px;
  padding-right: 25px;
}
.dropdown-menu a {
  text-decoration: none;
  color: #808080;
}
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a.current {
  color: #af8c76;
}
.dropdown-menu ul {
  margin: 0;
  overflow: hidden;
  padding: 0 5px;
  /* a changer */
  background: #fff;
  box-shadow: 2px 2px 5px #c1c1c1;
  width: 170px;
}
.dropdown-menu ul li {
  padding: 5px 5px 5px;
  list-style: none;
  white-space: nowrap;
  text-decoration: none;
  font-family: 'bebas_neueregular';
  font-size: 15px;
  text-align: center;
}
.dropdown-menu ul li.divider {
  border-top: 2px solid #f0e79c;
  padding-top: 5px;
}
.dropdown-menu > ul {
  max-height: 0;
  -webkit-transition: 0.5s max-height;
  transition: 0.5s max-height;
  text-decoration: none;
  /* a changer */
  border-radius: 0 0 2px 2px;
  box-shadow: 2px 2px 5px #c1c1c1 inset,;
}
.dropdown-menu:hover > ul,
.dropdown-menu.dm-focus > ul {
  max-height: 500px;
  overflow: visible;
}
.dropdown-menu .dropdown-menu ul {
  position: absolute;
  max-width: 0;
  left: 100%;
  top: 0;
  -webkit-transition: 0.5s max-width;
  transition: 0.5s max-width;
  /* a changer */
  border-radius: 0 2px 2px 0;
}
.dropdown-menu .dropdown-menu:hover > ul,
.dropdown-menu .dropdown-menu.dm-focus > ul {
  max-width: 200px;
}
/*------------------fin dropdown menu connexion_bar------------*/
/*--------------------------CONNEXION BAR------------------*/
/*# sourceMappingURL=connexionBar.css.map */