/*-----------------------------------GIFT LIST consult (PROCHES)-------------------------*/
.mess_bienvenue_list {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'arial';
  text-align: center;
}
.intro_list_titre {
  font-family: 'marketing_scriptregular';
  font-size: 28px;
  margin-top: 20px;
  text-align: center;
  color: #783551;
}
.intro_list {
  font-family: 'arial';
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #382a21;
}
.intro_list span {
  color: #829516;
  font-size: 15px;
  font-weight: bold;
}
#ListsGifts {
  margin: 0 auto;
  margin-bottom: 40px;
}
.fond_cadeaux {
  background-color: #fff;
}
.cat_list_cadeau {
  font-family: 'marketing_scriptregular';
  font-size: 22px;
  color: #AF5C63;
  font-weight: normal;
}
.ajout_cadeau {
  background: url('/Content/img/giftsList/icone_cadeau.png') no-repeat;
  padding-left: 45px;
  line-height: 48px;
  font-family: 'marketing_scriptregular';
  font-size: 23px;
  color: #783551;
  font-weight: normal;
  border-bottom: dotted 2px #808080;
  margin-bottom: 10px;
  margin-top: 7px;
}
.modifier_cadeau {
  background: url('/Content/img/giftsList/icone_modifier.png') no-repeat;
  padding-left: 45px;
  line-height: 48px;
  font-family: 'marketing_scriptregular';
  font-size: 23px;
  color: #783551;
  font-weight: normal;
  border-bottom: dotted 2px #808080;
  margin-bottom: 10px;
  margin-top: 7px;
}
.divObjectImage {
  text-align: center;
  font-family: 'arial';
  font-size: 12px;
  font-weight: bold;
  color: #ea744e;
}
.divObjectImage img {
  width: 150px;
  height: 150px;
  border-radius: 2px;
  border: solid 2px #829516;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
td {
  width: 180px;
  margin-top: 10px;
}
#createForm {
  background: #D8F08A;
}
.spacer {
  height: 30px;
}
.editCell {
  background: #dfc5c7;
}
.divObjectWebsite {
  margin-left: 50px;
  font-family: 'arial';
  font-size: 12px;
  font-weight: bold;
  color: #382a21;
}
.divObjectWebsite input {
  width: 348px;
}
.divObjectDescription {
  font-family: 'arial';
  width: 500px;
  margin-left: 50px;
  color: #382a21;
  margin-bottom: 20px;
  font-size: 13px;
}
.divObjectDescription label {
  font-weight: bold;
  font-size: 12px;
}
.divObjectName {
  font-family: amaticbold;
  border-bottom: dotted 1px #aec383;
  font-size: 30px;
  color: #ea744e;
  margin-left: 50px;
  margin-top: 8px;
  margin-bottom: 12px;
  padding-bottom: 5px;
}
.divObjectName input {
  width: 350px;
}
.objectNameLabel {
  font-family: 'arial';
  font-size: 12px;
  font-weight: bold;
  color: #382a21;
}
.createImageUrl {
  margin-bottom: 40px;
}
.divObjectPrice {
  width: 130px;
  text-align: center;
  font-family: 'arial';
  font-size: 12px;
  font-weight: bold;
}
.divObjectPrice input {
  width: 50px;
  height: 30px;
}
.createObjectName {
  font-size: 12px;
}
.editObjectName {
  font-size: 12px;
}
.divObjectBuy {
  text-align: center;
}
#btnCreateGift {
  background: url('/Content/img/giftsList/bouton_valider.png') no-repeat;
  width: 120px;
  height: 25px;
  cursor: pointer;
  padding-left: 20px;
  font-family: 'bebas_neueregular';
  font-size: 15px;
  color: #fff;
  font-weight: normal;
}
#btnCreateGift:hover {
  opacity: 0.8;
}
.textWithoutWrap {
  font-family: 'arial';
  color: #829516;
  font-size: 20px;
}
.divAddObject {
  text-align: center;
}
#btnEditGift {
  font-family: 'bebas_neueregular';
  font-weight: normal;
  font-size: 15px;
  width: 150px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  border-bottom: dotted 1px #783551;
  cursor: pointer;
  background-color: #AF5C63;
}
#btnEditGift:hover {
  opacity: 0.8;
}
.supprimer_input {
  width: 80px;
  height: 27px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #382a21;
  font-size: 11px;
  background: url('/Content/img/giftsList/suppr.png') no-repeat #ea744e;
  text-align: right;
}
.supprimer_input:hover {
  opacity: 0.9;
}
.modifier_input {
  width: 80px;
  height: 27px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #382a21;
  font-size: 11px;
  background: url('/Content/img/giftsList/modifier.png') no-repeat #af5c63;
  text-align: right;
  padding-right: 14px;
}
.modifier_input:hover {
  opacity: 0.9;
}
#btnStopCreateSearchObject {
  border: none;
  background: url('/Content/img/giftsList/stopper_recherche.png') no-repeat;
  width: 200px;
  height: 63px;
  display: inline-block;
  font-family: bebas_neueregular;
  font-weight: normal;
  font-size: 13px;
  color: #F1EFCC;
  cursor: pointer;
  outline: none;
  padding-left: 40px;
  margin-top: 4px;
  padding-top: 34px;
  text-decoration: underline;
  text-decoration: none;
}
.ajaxLoadingGift {
  height: 25px;
  width: 25px;
  margin-left: 120px;
  margin-top: -5px;
  position: absolute;
}
#btnAccessConsult {
  background: url('/Content/img/giftsList/bouton_consulter.png') no-repeat;
  width: 200px;
  height: 63px;
  border: none;
  display: inline-block;
  padding-top: 35px;
  padding-left: 65px;
  font-family: bebas_neueregular;
  font-size: 15px;
  color: #F1EFCC;
  margin-right: 20px;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  margin-top: 20px;
}
.buyButton {
  border: none;
  background: url('/Content/img/giftsList/bouton_offrir.png') no-repeat;
  width: 180px;
  height: 78px;
  display: inline-block;
  font-family: bebas_neueregular;
  font-size: 15px;
  color: #Fff;
  margin-right: 20px;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
}
.buyButton:hover {
  color: #F1EFCC;
}
.buttonBoughtGift {
  border: none;
  background: url('/Content/img/giftsList/bouton_offert.png') no-repeat;
  width: 180px;
  height: 78px;
}
/*----------------------------------messages erreur-------------------------------*/
.field-validation-error {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
.validation-summary-errors {
  font-family: 'arial';
  font-size: 12px;
  color: #ea744e;
}
