/*-----------------------------------PAGE GIFTS LIST (GESTION) -------------------------------*/
#giftInfos {
  text-align: center;
}
#giftInfos > * {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}
#createNewObject {
  margin-left: 150px;
  margin-bottom: 50px;
}
#createNewObject .newCadeau {
  position: relative;
  vertical-align: bottom;
  display: inline-block;
}
#createNewObject .btn-primary_add {
  background: url('/Content/img/giftsList/reinitialiser.jpg');
  height: 40px;
  width: 200px;
  font-family: 'arial';
  font-weight: normal;
  font-size: 13px;
  color: #fff;
  border: none;
  padding: 0px 0px 0 30px;
  outline: none;
  margin-left: 13px;
  cursor: pointer;
}
#createNewObject .btn-primary_add:hover {
  background-image: url('/Content/img/giftsList/reinitialiser.jpg');
  outline: none;
  opacity: 0.9;
}
#btnEditSearchObject {
  text-decoration: none;
  background: url('/Content/img/giftsList/bouton_rechercher.png') no-repeat;
  height: 63px;
  width: 115px;
  color: #fff;
  display: inline-block;
  position: relative;
  line-height: 86px;
  padding-left: 41px;
  outline: none;
}
#btnCreateSearchObject {
  text-decoration: none;
  background: url('/Content/img/giftsList/bouton_rechercher.png') no-repeat;
  height: 63px;
  width: 125px;
  color: #fff;
  font-family: 'arial';
  font-size: 14px;
  display: inline-block;
  position: relative;
  line-height: 86px;
  padding-left: 38px;
  outline: none;
  margin-top: 10px;
  font-weight: normal;
}
#btnCreateSearchObject:hover {
  background-image: url('/Content/img/giftsList/bouton_rechercher_hover.png');
  outline: none;
}
.texte_fonction_recherche {
  width: 170px;
  text-align: justify;
  font-family: 'arial';
  font-size: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.btn-success_validate {
  background: url('/Content/img/giftsList/bouton_valider.png');
  height: 63px;
  width: 150px;
  font-family: 'arial';
  font-weight: normal;
  font-size: 13px;
  color: #fff;
  border: none;
  text-align: center;
  padding: 20px 0px 0 30px;
  position: relative;
  vertical-align: bottom;
  display: inline-block;
  outline: none;
}
.btn-success_validate:hover {
  background-image: url('/Content/img/giftsList/bouton_valider_hover.png');
  color: #f0e79c;
}
.btn-warning_modif_over {
  border: none;
  background: url('/Content/img/giftsList/bouton_modif_over.png') no-repeat;
  width: 230px;
  height: 55px;
  display: inline-block;
  padding-top: 25px;
  font-family: bebas_neueregular;
  font-size: 15px;
  color: #F1EFCC;
  margin-right: 20px;
  cursor: pointer;
  outline: none;
}
#divGiftsList {
  float: right;
  margin-right: 150px;
}
#divGiftsList .listBox {
  background: #fff;
  width: 260px;
  height: 424px;
  position: relative;
  border-radius: 3px;
  padding-top: 20px;
  padding: 10px;
  padding-right: 15px;
  margin-top: 20px;
  border: solid 1px #aec383;
  overflow-y: auto;
}
#divGiftsList .listBox .giftList {
  height: 450px;
}
.row_items {
  border-bottom: dotted 1px #aec383;
}
.col-md-10_gift {
  height: 26px;
  width: 151px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: -37px;
}
.col-md-10_gift a {
  font-family: 'arial';
  text-decoration: none;
  color: #808080;
  font-size: 14px;
}
.btn-xs {
  background: url('/Content/img/giftsList/suppr.jpg') no-repeat;
  height: 36px;
  width: 25px;
  border: none;
  box-shadow: 0px 2px 5px #aaa;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}
#miniImg {
  margin-left: 10px;
}
.btn-primary_validate_img {
  background: url('/Content/img/giftsList/picto_valider.png') no-repeat #ffffff 5%;
  width: 290px;
  height: 100px;
  border: none;
  outline: none;
  padding-left: 75px;
  cursor: pointer;
  font-family: 'amaticbold';
  font-size: 35px;
  color: #442717;
  text-align: center;
  border: solid 1px #808080;
}
.btn-primary_validate_img:hover {
  color: #808080;
}
#bienvenueText {
  background: url('/Content/img/giftsList/fleur_picto.png') no-repeat;
  height: 17px;
  padding-left: 45px;
  padding-bottom: 7px;
  color: #DE6C1C;
  padding-top: 10px;
  font-style: italic;
}
/*-----------------------------------fin PAGE GIFTS LIST (GESTION) -----------------------------*/
