/*-----------------------------------PAGE GIFTS LIST (GESTION) -------------------------------*/
#giftInfos {
    text-align: center;
}

#giftInfos > * {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

#createNewObject {
    margin-left: 150px;
    margin-bottom: 50px;
}

#createNewObject .newCadeau {
    position: relative;
    vertical-align: bottom;
    display: inline-block;
}

#createNewObject .btn-primary_add {
    background: url('/Content/img/giftsList/reinitialiser.jpg');
    height: 40px;
    width: 200px;
    font-family: 'arial';
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    border: none;
    padding: 0px 0px 0 30px;
    outline: none;
    margin-left: 13px;
    cursor: pointer;
}

#createNewObject .btn-primary_add:hover {
    background-image: url('/Content/img/giftsList/reinitialiser.jpg');
    outline: none;
    opacity: 0.9;
}

#btnEditSearchObject {
    text-decoration: none;
    background: url('/Content/img/giftsList/bouton_rechercher.png') no-repeat;
    height: 63px;
    width: 115px;
    color: #fff;
    display: inline-block;
    position: relative;
    line-height: 86px;
    padding-left: 41px;
    outline: none;
}

#btnCreateSearchObject {
    text-decoration: none;
    background: url('/Content/img/giftsList/bouton_rechercher.png') no-repeat;
    height: 63px;
    width: 125px;
    color: #fff;
    font-family: 'arial';
    font-size: 14px;
    display: inline-block;
    position: relative;
    line-height: 86px;
    padding-left: 38px;
    outline: none;
    margin-top: 10px;
    font-weight: normal;
}

#btnCreateSearchObject:hover {
    background-image: url('/Content/img/giftsList/bouton_rechercher_hover.png');
    outline: none;
}

.texte_fonction_recherche {
    width: 170px;
    text-align: justify;
    font-family: 'arial';
    font-size: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.btn-success_validate {
    background: url('/Content/img/giftsList/bouton_valider.png');
    height: 63px;
    width: 150px;
    font-family: 'arial';
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    border: none;
    text-align: center;
    padding: 20px 0px 0 30px;
    position: relative;
    vertical-align: bottom;
    display: inline-block;
    outline: none;
}

.btn-success_validate:hover {
    background-image: url('/Content/img/giftsList/bouton_valider_hover.png');
    color: #f0e79c;
}

.btn-warning_modif_over {
    border: none;
    background: url('/Content/img/giftsList/bouton_modif_over.png') no-repeat;
    width: 230px;
    height: 55px;
    display: inline-block;
    padding-top: 25px;
    font-family: bebas_neueregular;
    font-size: 15px;
    color: #F1EFCC;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}

#divGiftsList {
    float: right;
    margin-right: 150px;
}

#divGiftsList .listBox {
    background: #fff;
    width: 260px;
    height: 424px;
    position: relative;
    border-radius: 3px;
    padding-top: 20px;
    padding: 10px;
    padding-right: 15px;
    margin-top: 20px;
    border: solid 1px #aec383;
    overflow-y: auto;
}

#divGiftsList .listBox .giftList {
    height: 450px;
}

.row_items {
    border-bottom: dotted 1px #aec383;
}

.col-md-10_gift {
    height: 26px;
    width: 151px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -37px;
}

.col-md-10_gift a {
    font-family: 'arial';
    text-decoration: none;
    color: #808080;
    font-size: 14px;
}

.btn-xs {
    background: url('/Content/img/giftsList/suppr.jpg') no-repeat;
    height: 36px;
    width: 25px;
    border: none;
    box-shadow: 0px 2px 5px #aaa;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: none;
    outline: none;
}

#miniImg {
    margin-left: 10px;
}

.btn-primary_validate_img {
    background: url('/Content/img/giftsList/picto_valider.png') no-repeat #ffffff 5%;
    width: 290px;
    height: 100px;
    border: none;
    outline: none;
    padding-left: 75px;
    cursor: pointer;
    font-family: 'amaticbold';
    font-size: 35px;
    color: #442717;
    text-align: center;
    border: solid 1px #808080;
}

.btn-primary_validate_img:hover {
    color: #808080;
}

#bienvenueText {
    /*background: url('/Content/img/giftsList/fleur_picto.png') no-repeat;*/
    height: 17px;
    /*padding-left: 45px;*/
    padding-bottom: 7px;
    color: #DE6C1C;
    padding-top: 10px;
    font-style: italic;
}

#texteDescription {
    color: #808080;
    text-align: left;
    width: 300px;
    font-size: 14px;
    padding: 7px 6px;
    position: relative;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

/*-----------------------------------fin PAGE GIFTS LIST (GESTION) -----------------------------*/
/*-----------------------------------tooltip description----------------------------------------*/
.tooltip {
    position: absolute;
    z-index: 200;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tooltip.in {
    opacity: 0.7;
    filter: alpha(opacity=90);
}

.tooltip.top {
    margin-top: -3px;
    padding: 10px 0;
}

.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}

.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}

.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}

.tooltip-inner {
    max-width: 300px;
    padding: 15px 10px;
    color: #fff;
    text-align: left;
    text-decoration: none;
    background-color: #81aa8e;
    border-radius: 1px;
    font-weight: bolder;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #808080;
}

.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-width: 5px 5px 0;
    border-top-color: #808080;
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    right: 5px;
    border-width: 5px 5px 0;
    border-top-color: #808080;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #808080;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #808080;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #808080;
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    left: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #808080;
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    right: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #808080;
}

/*-------------------------------------alert erreur page--------------------*/
.erreur_page {
    padding-right: 275px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    left: 27%;
    font-family: 'arial';
    display: inline-block;
    margin-right: 78px;
    font-size: 17px;
    /*text-align:center;*/
    color: #848E19;
    top: 40px;
}

.erreur_page span {
    font-family: 'bebas_neueregular';
    font-size: 24px;
    color: #442717;
}

#img_erreur {
    background: url('/Content/img/giftsList/visu_erreur.png') no-repeat;
    height: 337px;
    width: 350px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 50px;
    margin-left: 50px;
}