@import url("../mixin/mixins.less");
/*-----------------------HEADER------------------------*/
header {
    @height: 207px;
    #gradient > .vertical-three-colors(#f4e98e, #f4e98e, 60%, #81aa8e);
    border-bottom: solid 6px #382a21;
    height: @height;
    overflow-y: visible;
    position: relative;
    z-index: 5;

    .menu {
        background: url('/Content/img/home/herbe_header.png') repeat-x 0 100%;
        height: @height + 3;
        position: relative;
        top: -30px;
        overflow: hidden;

        ul {
            height: 32px;
            text-align: center;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                vertical-align: middle;
                width: 150px;
                /*
                &:first-child {
                    text-align: right;
                }
                */
                &:last-child {
                    padding-right: 0px;
                    margin-right: 0;
                }
            }
        }

        a {
            text-decoration: none;
            font-family: arial;
            font-family: 'amaticbold';
            font-size: 28px;
            color: #000000;
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            position: relative;

            &:hover, &:focus, &.current {
                color: lighten(#382a21, 40%);
            }

            &.logo {
                background: url('/Content/img/home/logo.png') no-repeat;
                height: 210px;
                width: 210px;
                display: inline-block;
                z-index: 20;
                position: relative;
                vertical-align: middle;
            }
            }

        &:before,
        &:after {
            height: 177px;
            position: absolute;
            left: 50%;
            bottom: 0;
            z-index: -1;
        }

        &:before {
            content: url('/Content/img/home/fleur_header.png');
            margin-left: -480px;
        }

        &:after {
            content: url('/Content/img/home/champignons_header.png');
            margin-left: 350px;
        }
    }
}
/*-----------------------FIN HEADER------------------------*/

.hook-homepage {
    position: relative;
    
    .how-to-carousel {
        background : url('/Content/img/home/cadre_slider.png') no-repeat 50% 0;
        height: 220px;
        left: 12%;
        padding: 10px 30px;
        position: absolute;
        top: 50px;
        width: 306px;
        z-index: 50;
        .carousel-title{
            font-family: 'marketing_scriptregular';
            text-align:center;
            font-size:30px;
            margin-top:30px;
            color:#a3195b;
            margin-bottom:22px;
        }
        .carousel {
            width: 100%;
            height: 100px;

            .element {
                width: 100%;
                h2{
                    margin-top:5px;
                    margin-bottom:5px;
                }
                p{
                    margin:0px;
                    text-align:center;
                    font-family:'arial';
                    color:#000;

                    span{
                        font-weight:bold;
                    }
                }
            }

            .closest {
                a {
                    height: 30px;
                    overflow: hidden;
                    padding: 0 0 0 30px;
                    position: absolute;
                    top: 50%;
                    width: 0;

                    &.previous {
                        left: 5px;
                        background:url('/Content/img/home/prev_btn.png');

                    }

                    &.next {
                        right: 5px;
                        background:url('/Content/img/home/next_btn.png');
                    }
                }
            }
        }
    }
}
