@import url("../mixin/mixins.less");
@menu_color: #aec383;
@vert_cat: #f4e98e;

@font-face {
    font-family: 'amatic_scregular';
    src: url('/Content/fonts/amaticsc-regular-webfont.eot');
    src: url('/Content/fonts/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/amaticsc-regular-webfont.woff') format('woff'), url('/Content/fonts/amaticsc-regular-webfont.ttf') format('truetype'), url('/Content/fonts/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amaticbold';
    src: url('/Content/fonts/amatic-bold-webfont.eot');
    src: url('/Content/fonts/amatic-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/amatic-bold-webfont.woff') format('woff'), url('/Content/fonts/amatic-bold-webfont.ttf') format('truetype'), url('/Content/fonts/amatic-bold-webfont.svg#amaticbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('/Content/fonts/bebasneue-webfont.eot');
    src: url('/Content/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/bebasneue-webfont.woff') format('woff'), url('/Content/fonts/bebasneue-webfont.ttf') format('truetype'), url('/Content/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marketing_scriptregular';
    src: url('/Content/fonts/marketingscript-webfont.eot');
    src: url('/Content/fonts/marketingscript-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/marketingscript-webfont.woff') format('woff'), url('/Content/fonts/marketingscript-webfont.ttf') format('truetype'), url('/Content/fonts/marketingscript-webfont.svg#marketing_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    background: #F1EFCC;
    min-width: 1005px;
}

input {
    border-radius: 2px;
    padding-left: 5px;
    border:none;
    border: solid 1px #aec383;
}

h2 {
    text-align: center;
}

h4 {
    font-family: 'arial';
}

#body .container {
    margin: 0 auto;
    width: 1200px;
}

li {
    list-style-type: none;
}

ul {
    padding: 0px;
}

.field-validation-error {
    font-family: 'arial';
}

/*-----------------------------------LOGIN (SET PASSWORD PARTIAL)-------------------------------*/
.text-info {
    font-family: 'arial';
}

.control-label {
    font-family: 'arial';
}

.col-md-8 {
    text-align: center;
}
/*-----------------------------------FIN LOGIN (SET PASSWORD PARTIAL).-------------------------*/
.btnStopCreateSearchObject a {
    background-color: #ea744e;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'arial';
}
/*-----------------------------------LOGIN FORMULAIRE-------------------------*/
.form-horizontal {
    .form-control {
        width: 250px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    margin: 0 auto;
    width: 800px;
}

/*-----------------------------------SHARE LIST-------------------------*/
.share_list {
    text-align: center;
    font-family: 'arial';
}
/*-----------------------------------fin SHARE LIST-------------------------*/

.text-beta {
    text-align: center;
    font-family: marketing_scriptregular;
}

.text-soon {
    text-align: center;
}

.searchFieldSet{
    text-align: center;
}
/*-----------------------------------syles aucun objet----------------------*/
.aucun_objet{
    background: url('/Content/img/giftsList/fleur_picto.png') no-repeat #F1EFCC;
    height:34px;
    width:165px;
    padding-left:40px;
    font-family:'arial';
    color:#808080;

}
.deleteBtn{
    display:inline-block;
}