@font-face {
    font-family: 'amatic_scregular';
    src: url('/Content/fonts/amaticsc-regular-webfont.eot');
    src: url('/Content/fonts/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/amaticsc-regular-webfont.woff') format('woff'), url('/Content/fonts/amaticsc-regular-webfont.ttf') format('truetype'), url('/Content/fonts/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amaticbold';
    src: url('/Content/fonts/amatic-bold-webfont.eot');
    src: url('/Content/fonts/amatic-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/amatic-bold-webfont.woff') format('woff'), url('/Content/fonts/amatic-bold-webfont.ttf') format('truetype'), url('/Content/fonts/amatic-bold-webfont.svg#amaticbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('/Content/fonts/bebasneue-webfont.eot');
    src: url('/Content/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/bebasneue-webfont.woff') format('woff'), url('/Content/fonts/bebasneue-webfont.ttf') format('truetype'), url('/Content/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'marketing_scriptregular';
    src: url('/Content/fonts/marketingscript-webfont.eot');
    src: url('/Content/fonts/marketingscript-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/marketingscript-webfont.woff') format('woff'), url('/Content/fonts/marketingscript-webfont.ttf') format('truetype'), url('/Content/fonts/marketingscript-webfont.svg#marketing_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    background: #F1EFCC;
    min-width: 1005px;
}

input {
    border-radius: 3px;
    padding-left: 5px;
}

h2 {
    text-align: center;
}

h4 {
    font-family: 'arial';
}

#body .container {
    margin: 0 auto;
    width: 1200px;
}

li {
    list-style-type: none;
}

ul {
    padding: 0px;
}

.field-validation-error {
    font-family: 'arial';
}

/*--------------------------CONNEXION BAR------------------*/
.connexionBar {
    height: 27px;
    background-color: #382a21;
}

.connexionBar .barre_connexion {
    height: 27px;
    margin: 0 auto;
    text-align: right;
    width: 1005px;
}

.form-group {
    display: inline-block;
    vertical-align: middle;
}

.form-group .form-control {
    border-radius: 2px;
    border: #fff;
    width: 150px;
}

h2 {
    font-family: 'bebas_neueregular';
    color: #AF5C63;
}

h3 {
    font-family: 'arial';
    text-align: center;
}

/*-------------------message erreur connexion bar------------------*/
.validationConnexionBar {
    display: inline-block;
    vertical-align: middle;
    height: 33px;
}

.validationConnexionBar ul {
    display: inline-block;
}

.validationConnexionBar {
    color: #ea744e;
    font-family: 'arial';
    font-size: 12px;
    position: absolute;
    font-weight: bold;
    z-index: 100;
    margin-top: 20px;
}

/*-------------------fin message erreur connexion bar------------------*/
/*------------------dropdown menu connexion_bar------------*/
.dropdown-menu {
    display: inline-block;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}

* + html .dropdown-menu {
    display: inline;
    /* pour IE7 */
}

.dropdown-menu p {
    background: url('/Content/img/giftsList/fleche_connexion.png') no-repeat 100%;
    margin-top: 5px;
    font-family: 'arial';
    font-size: 14px;
    color: #f0e79c;
    margin-bottom: 7px;
    padding-right: 25px;
}

.dropdown-menu a {
    text-decoration: none;
    color: #808080;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a.current {
    color: #af8c76;
}

.dropdown-menu ul {
    margin: 0;
    overflow: hidden;
    padding: 0 5px;
    /* a changer */
    background: #fff;
}

.dropdown-menu ul li {
    padding: 5px 5px 5px;
    list-style: none;
    white-space: nowrap;
    text-decoration: none;
    font-family: 'bebas_neueregular';
    font-size: 15px;
}

.dropdown-menu ul li.divider {
    border-top: 2px solid #f0e79c;
    padding-top: 5px;
}

.dropdown-menu > ul {
    max-height: 0;
    -webkit-transition: 0.5s max-height;
    transition: 0.5s max-height;
    text-decoration: none;
    /* a changer */
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 5px #c1c1c1 inset,;
}

.dropdown-menu:hover > ul,
.dropdown-menu.dm-focus > ul {
    max-height: 500px;
    overflow: visible;
}

.dropdown-menu .dropdown-menu ul {
    position: absolute;
    max-width: 0;
    left: 100%;
    top: 0;
    -webkit-transition: 0.5s max-width;
    transition: 0.5s max-width;
    /* a changer */
    border-radius: 0 5px 5px 0;
}

.dropdown-menu .dropdown-menu:hover > ul,
.dropdown-menu .dropdown-menu.dm-focus > ul {
    max-width: 200px;
}

/*------------------fin dropdown menu connexion_bar------------*/
/*--------------------------CONNEXION BAR------------------*/
/*-----------------------HEADER------------------------*/
header {
    background-image: -webkit-linear-gradient(#f4e98e, #f4e98e 60%, #81aa8e);
    background-image: linear-gradient(#f4e98e, #f4e98e 60%, #81aa8e);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4e98e', endColorstr='#ff81aa8e', GradientType=0);
    height: 183px;
    position: relative;
    z-index: 5;
}

header .header_bottom {
    background: url('/Content/img/home/herbe_header.png') repeat-x;
    height: 54px;
    position: relative;
    z-index: 10;
    margin-top: 92px;
    border-bottom: solid 10px #382a21;
}

header:after {
    height: 177px;
    content: url('/Content/img/home/champignons_header.png');
    position: absolute;
    left: 50%;
    top: 3px;
    margin-left: 350px;
}

header:before {
    height: 177px;
    content: url('/Content/img/home/fleur_header.png');
    left: 50%;
    position: absolute;
    top: 0px;
    margin-left: -480px;
}

header .menu ul {
    height: 32px;
    text-align: center;
    margin: 0;
    padding: 0;
}

header .menu ul li {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0% 10px;
    margin-top: 74px;
    vertical-align: top;
    width: 150px;
    /*
                                &:first-child {
                                        text-align: right;
                                }
                                */
}

header .menu ul li:last-child {
    padding-right: 0px;
    margin-right: 0;
}

header .menu a {
    text-decoration: none;
    line-height: 0;
    font-family: arial;
    font-family: 'amaticbold';
    font-size: 28px;
    color: #000000;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    position: relative;
    z-index: 30;
    margin-top: -30px;
}

header .menu a:hover,
header .menu a:focus,
header .menu a.current {
    color: #af8c76;
}

header .menu a.logo {
    background: url('/Content/img/home/logo.png') no-repeat;
    height: 210px;
    width: 210px;
    display: inline-block;
    z-index: 20;
    position: relative;
}

/*-----------------------FIN HEADER------------------------*/
/*-----------------------CATEGORIES------------------------*/
.img-responsive {
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 40;
}

.container_categories {
    background: #fff;
    height: 364px;
    text-align: center;
    position: relative;
    z-index: 80;
}

.container_categories a {
    margin-bottom: 20px;
}

.container_categories .cat:hover:after {
    padding-bottom: 20px;
}

.container_categories .cat {
    background: url('/Content/img/home/fond_illus.png') no-repeat;
    height: 383px;
    width: 500px;
    font-family: 'bebas_neueregular';
    color: #808080;
    font-size: 30px;
    padding-top: 106px;
    font-weight: normal;
    position: relative;
    z-index: 50;
    margin-top: -125px;
}

.container_categories .cat1 {
    color: #296a52;
}

.container_categories .cat2 {
    color: #ea744e;
}

.container_categories .cat3 {
    color: #691b35;
}

.container_categories .cat1:after {
    content: url('/Content/img/home/illu_creer.jpg');
    position: absolute;
    bottom: 10px;
    left: 116px;
    transition: 0.5s;
}

.container_categories .cat2:after {
    content: url('/Content/img/home/illu_offrir.jpg');
    position: absolute;
    bottom: 8px;
    left: 116px;
    transition: 0.5s;
}

.container_categories a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

/*-----------------------FIN CATEGORIES------------------------*/
/*-----------------------HOW IT WORKS------------------------*/
footer .row {
    background: #f0e79c;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

footer .marche {
    background: url('/Content/img/home/banderole.png') no-repeat;
    height: 80px;
    width: 424px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    font-family: 'marketing_scriptregular';
    font-size: 32px;
    text-indent: -20px;
}

.howItWorks_main {
    background: url('/Content/img/home/herbe_footer.png') 0 100% repeat-x #f0e79c;
    text-align: center;
    padding-top: 30px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.howItWorks_main:before {
    content: url(/Content/img/home/fleur_footer.png);
    bottom: -15px;
    left: 50%;
    margin-left: -640px;
    position: absolute;
}

.howItWorks_main:after {
    content: url(/Content/img/home/biberoncadeaux_footer.png);
    bottom: -20px;
    left: 50%;
    margin-left: 440px;
    position: absolute;
}

.step {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    color: #fff;
    width: 280px;
    height: 215px;
}

.step + .step {
    margin-left: 20px;
}

.step.step1 {
    background: url('/Content/img/home/img_etape1.jpg') no-repeat 0 100%;
}

.step.step2 {
    background: url('/Content/img/home/img_etape2.jpg') no-repeat 0 100%;
}

.step.step3 {
    background: url('/Content/img/home/img_etape3.jpg') no-repeat 0 100%;
}

.step .howItWorksText {
    font-family: 'marketing_scriptregular';
    text-align: center;
    font-size: 20px;
}

.step .numberHowItWorks {
    font-family: 'bebas_neueregular';
    font-size: 30px;
    color: #382a21;
}

.panel-body {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

/*-----------------------FIN HOW IT WORKS------------------------*/
/*-----------------------FOOTER------------------------*/
#liensFooter .row {
    background: #382a21;
    height: 30px;
    padding-top: 5px;
    text-align: center;
}

#liensFooter .row .element {
    display: inline;
    margin: 40px;
}

#liensFooter .row a {
    text-decoration: none;
    color: #fff;
    font-family: 'amatic_scregular';
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

#liensFooter a:hover,
#liensFooter a:focus,
#liensFooter a.current {
    color: #af8c76;
}

/*-----------------------FIN FOOTER------------------------*/
/*-----------------------page création de liste------------------------*/
.mainContentCreateList {
    text-align: center;
}

.create_list_title {
    background: url('/Content/img/create/pancarte.png') no-repeat;
    height: 170px;
    width: 457px;
    margin: 0 auto;
    margin-top: -20px;
    position: relative;
    z-index: 30;
    margin-bottom: 45px;
}

#createPart {
    width: 430px;
    margin-left: 150px;
}

.create_list_com {
    font-family: 'arial';
    font-weight: normal;
    text-align: center;
}

fieldset {
    border: none;
    text-align: left;
}

.form_create_list {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 500px;
}

.img_create {
    background: url('/Content/img/create/img_create.jpg') no-repeat;
    height: 301px;
    width: 450px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: solid 3px #ea744e;
}

legend {
    font-family: 'amaticbold';
    font-size: 30px;
    color: #382a21;
    margin-bottom: 20px;
}

.editor-label {
    font-family: 'bebas_neueregular';
    color: #829516;
    margin-bottom: 5px;
}

.editor-field {
    border-radius: 4px;
}

.picker {
    width: 350px;
    border-radius: 4px;
}

textarea {
    width: 350px;
    height: 100px;
    border-radius: 3px;
    border-color: #aec383;
    resize: none;
    overflow: auto;
}

.text-box {
    border-radius: 3px;
}

.btn-success1 {
    background: url('/Content/img/create/bouton_creer_liste.png') no-repeat;
    height: 109px;
    width: 277px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 80px;
}

.error_message {
    color: #ea744e;
    font-family: Arial;
}

/*------------------- PAGE RECHERCHE LISTE - NOM/PRENOM ------------------*/
.search_list_block {
    text-align: center;
}

.search_list_block .list_search_title {
    font-family: 'amatic_scregular';
    font-size: 40px;
    color: #382a21;
    text-align: center;
    border-bottom: dotted 2px #aec383;
}

.search_list_block .name_surname_search {
    font-family: 'bebas_neueregular';
    font-size: 20px;
    color: #829516;
}

.search_list_block .search_list_btn {
    background: url('/Content/img/search/bouton_rechercher.png') no-repeat;
    height: 63px;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 21px;
    font-family: 'bebas_neueregular';
    font-size: 17px;
    color: #fff;
    border: none;
    padding-top: 23px;
    cursor: pointer;
    outline: none;
}

.search_list_block .search_list_btn:hover {
    background-image: url('/Content/img/search/bouton_rechercher_hover.png');
    color: #f0e79c;
}

/*-----------------------------------WHO WE ARE-------------------------------*/
.who_we_are {
    text-align: center;
}

.who_we_are_text {
    font-family: 'arial';
    color: #808080;
    text-align: left;
    margin-left: 40px;
    position: relative;
    vertical-align: middle;
    width: 400px;
    display: inline-block;
}

.who_we_are_text a {
    text-decoration: none;
    color: #aec383;
    font-weight: bold;
}

.who_we_are_title {
    font-family: 'amatic_scregular';
    font-size: 30px;
    color: #829516;
}

.photos {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.photos .photoremi {
    background-image: url('/Content/img/whoweare/cadres_remi.png');
    height: 240px;
    width: 220px;
    margin-bottom: 20px;
}

.photos .photomarion {
    background-image: url('/Content/img/whoweare/cadre_marion.png');
    height: 240px;
    width: 220px;
}

/*-----------------------------------fin WHO WE ARE-------------------------------*/
/*-----------------------------------PAGE GIFTS LIST (GESTION) -------------------------------*/
#displayImage {
    width: 357px;
}

#createNewObject {
    margin-left: 150px;
    margin-bottom: 50px;
}

#createNewObject .newCadeau {
    position: relative;
    vertical-align: bottom;
    display: inline-block;
}

#createNewObject .btn-primary_add {
    background: url('/Content/img/giftsList/bouton_ajouter.png');
    height: 63px;
    width: 150px;
    font-family: 'arial';
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    border: none;
    padding: 20px 0px 0 30px;
    outline: none;
    margin-left: 13px;
    cursor: pointer;
}

#createNewObject .btn-primary_add:hover {
    background-image: url('/Content/img/giftsList/bouton_ajouter_hover.png');
    color: #f0e79c;
    outline: none;
}

#btnEditSearchObject {
    text-decoration: none;
    background: url('/Content/img/giftsList/bouton_rechercher.png') no-repeat;
    height: 63px;
    width: 115px;
    color: #fff;
    font-family: 'bebas_neueregular';
    display: inline-block;
    position: relative;
    line-height: 86px;
    padding-left: 44px;
    outline: none;
}

#btnCreateSearchObject {
    text-decoration: none;
    background: url('/Content/img/giftsList/bouton_rechercher.png') no-repeat;
    height: 63px;
    width: 115px;
    color: #fff;
    font-family: 'bebas_neueregular';
    display: inline-block;
    position: relative;
    line-height: 86px;
    padding-left: 44px;
    outline: none;
}

#btnCreateSearchObject:hover {
    background-image: url('/Content/img/giftsList/bouton_rechercher_hover.png');
    color: #f0e79c;
    outline: none;
}

.single-line {
    width: 350px;
}

.texte_fonction_recherche {
    width: 170px;
    text-align: justify;
    font-family: 'arial';
    font-size: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.btn-success_validate {
    background: url('/Content/img/giftsList/bouton_valider.png');
    height: 63px;
    width: 150px;
    font-family: 'arial';
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    border: none;
    text-align: center;
    padding: 20px 0px 0 30px;
    position: relative;
    vertical-align: bottom;
    display: inline-block;
    outline: none;
}

.btn-success_validate:hover {
    background-image: url('/Content/img/giftsList/bouton_valider_hover.png');
    color: #f0e79c;
}

.btn-warning_modif_over {
    background: url('/Content/img/giftsList/bouton_modif_over.png') no-repeat;
    width: 230px;
    height: 55px;
    border: none;
    display: inline-block;
    padding-top: 25px;
    font-family: bebas_neueregular;
    font-size: 15px;
    color: #F1EFCC;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}

#divGiftsList {
    float: right;
    margin-right: 150px;
}

#divGiftsList .listBox {
    background: #fff;
    width: 400px;
    height: 393px;
    position: relative;
    border-radius: 3px;
    padding: 30px;
    padding-right: 15px;
    margin-top: 20px;
    box-shadow: 0px 2px 30px #aec383;
    overflow: auto;
    /*:before {
                        content: url('/Content/img/giftsList/noeud_liste.png');
                        height: 64px;
                        width: 211px;
                        top: -60px;
                        position: absolute;
                        left: 110px;
                }*/
}

#divGiftsList .listBox .giftList {
    overflow: auto;
    width: 400px;
    height: 450px;
}

.row_items {
    border-bottom: dotted 1px #aec383;
}

.col-md-10_gift {
    height: 50px;
    width: 250px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 20px;
}

.col-md-10_gift a {
    text-decoration: none;
    color: #808080;
    font-size: 14px;
    font-family: 'arial';
    text-transform: uppercase;
}

.btn-xs {
    background: url('/Content/img/giftsList/suppr.jpg') no-repeat;
    height: 25px;
    width: 25px;
    border: none;
    box-shadow: 0px 2px 5px #aaa;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: none;
}

#miniImg {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    margin-left: 35px;
}

.btn-primary_validate_img {
    background: url('/Content/img/giftsList/picto_valider.png') no-repeat;
    width: 320px;
    height: 140px;
    border: none;
    outline: none;
    padding-left: 100px;
    cursor: pointer;
    font-family: 'marketing_scriptregular';
    font-size: 25px;
    color: #382a21;
    text-align: center;
}

.btn-primary_validate_img:hover {
    color: #AF5C63;
    text-decoration: underline;
}

/*-----------------------------------fin PAGE GIFTS LIST (GESTION) -----------------------------*/
/*-----------------------------------LOGIN (SET PASSWORD PARTIAL)-------------------------------*/
.text-info {
    font-family: 'arial';
}

.control-label {
    font-family: 'arial';
}

.col-md-8 {
    text-align: center;
}

/*-----------------------------------FIN LOGIN (SET PASSWORD PARTIAL).-------------------------*/
.btnStopCreateSearchObject a {
    background-color: #ea744e;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'arial';
}

/*-----------------------------------LOGIN FORMULAIRE-------------------------*/
.form-horizontal {
    margin: 0 auto;
    width: 800px;
}

.form-horizontal .form-control {
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/*-----------------------------------SHARE LIST-------------------------*/
.share_list {
    text-align: center;
    font-family: 'arial';
}

/*-----------------------------------fin SHARE LIST-------------------------*/
/*-----------------------------------GIFT LIST (PROCHES)-------------------------*/
.mess_bienvenue_list {
    font-family: 'arial';
    text-align: center;
    margin-top: 20px;
}

#ListsGifts {
    margin: 0 auto;
    margin-bottom: 40px;
}

.fond_cadeaux {
    background-color: #fff;
}

.cat_list_cadeau {
    font-family: 'marketing_scriptregular';
    font-size: 22px;
    color: #AF5C63;
    font-weight: normal;
}

.divObjectImage img {
    width: 150px;
    height: 150px;
    border-radius: 2px;
    border: solid 2px #829516;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.divObjectDescription {
    font-family: 'arial';
    width: 500px;
    margin-left: 50px;
    color: #382a21;
    margin-bottom: 20px;
}

.divObjectName {
    font-family: amaticbold;
    border-bottom: dotted 1px #aec383;
    font-size: 30px;
    color: #ea744e;
    margin-left: 50px;
    margin-top: 8px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.divObjectPrice {
    width: 90px;
    text-align: center;
}

.textWithoutWrap {
    font-family: 'arial';
    font-weight: bold;
    color: #829516;
}

#btnEditGift {
    font-family: 'bebas_neueregular';
    width: 150px;
    height: 63px;
    text-decoration: none;
    margin-left: 20px;
    color: #ea744e;
    border-bottom: dotted 1px #AF5C63;
}

#btnStopCreateSearchObject {
    background: url('/Content/img/giftsList/stopper_recherche.png') no-repeat;
    width: 200px;
    height: 63px;
    border: none;
    display: inline-block;
    font-family: bebas_neueregular;
    font-size: 13px;
    color: #F1EFCC;
    cursor: pointer;
    outline: none;
    padding-left: 40px;
    margin-top: 4px;
    padding-top: 34px;
    text-decoration: underline;
    text-decoration: none;
}

.ajaxLoadingGift {
    height: 25px;
    width: 25px;
    margin-left: 120px;
    margin-top: -5px;
    position: absolute;
}

.field-validation-error {
    display: inline-block;
}

#btnAccessConsult {
    background: url('/Content/img/giftsList/bouton_consulter.png') no-repeat;
    width: 200px;
    height: 63px;
    border: none;
    display: inline-block;
    padding-top: 35px;
    padding-left: 65px;
    font-family: bebas_neueregular;
    font-size: 15px;
    color: #F1EFCC;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
    margin-top: 20px;
}

#btnEditGift:hover {
    color: #AF5C63;
}

.buyButton {
    background: url('/Content/img/giftsList/bouton_offrir.png') no-repeat;
    width: 180px;
    height: 78px;
    border: none;
    display: inline-block;
    font-family: bebas_neueregular;
    font-size: 15px;
    color: #F1EFCC;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
}

.buyButton:hover {
    color: #fff;
}

.buttonBoughtGift {
    border: none;
    background: url('/Content/img/giftsList/bouton_offert.png') no-repeat;
    width: 180px;
    height: 78px;
}

/*----------------------------BOOTSTRAP MODAL------------------------------*/
.modal-title {
    font-family: bebas_neueregular;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #ABBF3B;
}

.modal-body {
    position: relative;
    padding: 50px;
    font-family: 'arial';
    color: #808080;
    text-align: center;
    margin-right: 0px;
}

.btn-lg {
    color: #AF5C63;
    height: 18px;
    width: 20px;
    font-family: 'arial';
    font-weight: bold;
    padding-left: 30px;
    background: url('/Content/img/giftsList/panier_acheter.png') no-repeat;
}

#buttonNotBought {
    background: url('/Content/img/giftsList/bouton_pas_achete.png') no-repeat;
    width: 230px;
    height: 55px;
    border: none;
    display: inline-block;
    padding-top: 25px;
    font-family: bebas_neueregular;
    font-size: 15px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
}

#buttonNotBought:hover {
    color: #f0e79c;
}

#buttonBought {
    background: url('/Content/img/giftsList/bouton_modif_over.png') no-repeat;
    width: 230px;
    height: 55px;
    border: none;
    display: inline-block;
    padding-top: 25px;
    font-family: bebas_neueregular;
    font-size: 15px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
}

#buttonBought:hover {
    color: #f0e79c;
}

#commentBuyObject #inputName {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.text-beta {
    text-align: center;
    font-family: marketing_scriptregular;
}

.text-soon {
    text-align: center;
}