@model PousseDeBambin.Models.Gift

@Html.HiddenFor(modelGift => modelGift.Priorite)
<span id="prioriteRating@(Model.GiftId)" class="rateit" data-rateit-value="@Model.Priorite.ToString().Replace(',','.')" data-rateit-ispreset="true" data-rateit-resetable="false"></span>

<script>
    $(function(){
        $("#prioriteRating@(Model.GiftId)").bind('rated', function () {
            var ri = $(this);

            //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), we could check if e.type == 'reset', and then set the value to  null .
            var valueDotted = ri.rateit('value');
            var valueComma = valueDotted.toString().replace(".", ",");
            $("#prioriteRating@(Model.GiftId)").prev("#Priorite").val(valueComma);
        });
    });
</script>
