@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Page non trouvée";
}
<div class="list-sfs-holder">
    <div class="alert alert-error erreur_page">
        <span>La page demandée n'existe pas...</span><br /><br /><div class="fond_erreur">Nous sommes désolés :(<br />Veuillez contacter <a href="mailto:remi@poussedebambin.com" target="_blank">Rémi</a> <br /><br />(oui c'est de sa faute !).</div>
    </div>
    <div id="img_erreur"></div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow:scroll">
                <pre>
                    @Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>

