@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur";
}
<div class="list-header clearfix">
    <span>Accès non autorisé</span>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        La page n'est pas accessible en tant qu'invité ou pour votre profil. Essayez de vous connecter ou reconnectez vous avec un autre compte.
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow:scroll">
                <pre>
                    @Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>
