@{
    ViewBag.Title = "Mentions Légales";
}

<h2>Mentions Légales</h2>

<p class="text-soon">Propriétaires et éditeurs  du site Internet www.poussedebambin.com
MARENCO Rémi
91 rue Garibaldi 69006
06 14 91 42 52
remi@poussedebambin.com
</p>

<p class="text-soon">
    WANG Marion
    15 rue Jules Verne
    69003 LYON
    marion@poussedebambin.com
</p>

<p class="text-soon">
    Signes distinctifs :
    Le nom de domaine www.poussedebambin.com appartient à Marenco Rémi et Wang Marion.

    Hébergement du site www.poussedebambin.com
    Le site www.poussedebambin.com est hébergé par AZURE, Microsoft France, 39, quai du Président Roosevelt 92130 Issy-les-Moulineaux.

    Important :
    Les droits de propriété intellectuelle afférents au site www.poussedebambin appartiennent à Rémi Marenco et Marion Wang.
    Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site,
    sans l’autorisation de Rémi Marenco et Marion Wang est prohibée et pourra entraîner des actions
    et poursuites judiciaires telles que notamment prévues par le code de la propriété intellectuelle
    et/ou le code civil.
</p>