@{
    ViewBag.Title = "Mentions Légales";
}
<h2>Mentions Légales</h2>
<div id="legal_mentions">
    <div class="legal_mentions_title">Propriétaires et éditeurs du site Internet <span class="legalmentions"><a href="www.poussedebambin.com">www.poussedebambin.com</a> :</span></div>
    <hr />
    <div class="property_remi">
        <div class="legal_mentions_text">
            MARENCO Rémi<br />
            91 rue Garibaldi 69006 Lyon<br />
            06 14 91 42 52<br />
            remi@poussedebambin.com
        </div>
    </div>
    <div class="property_marion">
        <div class="legal_mentions_text">
            WANG Marion<br />
            15 rue Jules Verne<br />
            69003 LYON<br />
            marion@poussedebambin.com
        </div>
    </div>
    <div class="legal_mentions_title">Signes distinctifs :</div>
    <hr />
    <div class="legal_mentions_text">
        Le nom de domaine <span class="legalmentions"><a href="www.poussedebambin.com">www.poussedebambin.com</a></span> appartient à Marenco Rémi et Wang Marion.
    </div>
    <div class="legal_mentions_title">
        Hébergement du site
        <span class="legalmentions"><a href="www.poussedebambin.com">www.poussedebambin.com</a> :</span>
    </div>
    <hr />
    <div class="legal_mentions_text">
        Le site <span class="legalmentions"><a href="www.poussedebambin.com">www.poussedebambin.com</a></span> est hébergé par Azure, Microsoft france, 39 quai du président Roosevelt 92130 Issy-les-moulineaux.
    </div>
        <div class="legal_mentions_text">
            <span class="warning">Important</span> :
            les droits de propriété intellectuelle afférents au site
            <span class="legalmentions"><a href="www.poussedebambin.com">www.poussedebambin.com</a></span> appartiennent à Rémi Marenco et marion wang.
            Toute utilisation, reproduction, diffusion, commercialisation, modification de l'intégralité ou d'une partie du site,
            sans l’autorisation de Rémi Marenco et Marion Wang est prohibée et pourra entraîner des actions
            et poursuites judiciaires telles que notamment prévues par le code de la propriété intellectuelle
            et ou le code civil.
        </div>
</div>