***REMOVED***
***REMOVED***
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
***REMOVED***
  ***REMOVED***

  ***REMOVED***

  ***REMOVED***

  ***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
***REMOVED***
***REMOVED***
***REMOVED***
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
***REMOVED***
