@model PousseDeBambin.Models.GiftState

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GiftState</legend>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GiftID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
