<html>
<body style="margin:0; padding:0;">

    <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
        <tr>
            <td align="left" valign="top">
                <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
                    <tr>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_01.png" border="0" style="display:block"></td>
                        <td><a href="https://www.facebook.com/poussedebambin?fref=ts" target="_blank"><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_02.png" border="0" style="display:block"></a></td>
                        <td><a href="https://twitter.com/PoussedeBambin" target="_blank"><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_03.png" border="0" style="display:block"></a></td>
                        <td><a href="https://plus.google.com/105106144598606846613" target="_blank"><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_04.png" border="0" style="display:block"></a></td>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_05.png" border="0" style="display:block"></td>
                    </tr>
                </table>
                <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
                    <tr>
                        <td><a href="http://www.poussedebambin.com/" target="_blank"><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_06.png" border="0" style="display:block"></a></td>
                    </tr>
                </table>
                <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
                    <tr>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_07.png" border="0" style="display:block"></td>
                    </tr>
                </table>
                <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
                    <tr>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_08.png" border="0" style="display:block"></td>
                        <td align="left" valign="top"><span style="color:#361506; font-weight:bold; font-size:17px; font-family:Arial; width:220px; display:block">&Eacute;TAPE 1 : CR&Eacute;EZ</span><br><span style="color:#361506; font-size:17px; font-family:Arial; display:block">Je cr&eacute;e ma liste de naissance <span style="font-weight:bold;">gratuitement</span>, en quelques clics, <span style="font-weight:bold;">sans inscription</span></span></td>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_10.png" border="0" style="display:block"></td>
                    </tr>
                </table>
                <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
                    <tr>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_11.png" border="0" style="display:block"></td>
                    </tr>
                </table>
                <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
                    <tr>
                        <td><img src="nhttp://www.poussedebambin.com/Content/newsletter/img/pitch/ewsletter_12.png" border="0" style="display:block"></td>
                        <td align="left" valign="top" style="background-color: #e8df9e;"><span style="color:#361506;font-weight:bold; font-size:17px; font-family:Arial; width:181px; display:block">&Eacute;TAPE 2 : AJOUTEZ</span><br><span style="color:#361506; font-size:17px; font-family:Arial; display:block">J'ajoute les articles de mon choix parmi <span style="font-weight:bold;">toutes les enseignes.</span></span></span></td>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_14.png" border="0" style="display:block"></td>
                    </tr>
                </table>
                <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
                    <tr>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_15.png" border="0" style="display:block"></td>
                    </tr>
                </table>
                <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
                    <tr>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_16.png" border="0" style="display:block"></td>
                        <td align="left" valign="top" style="background-color: #a4c536;"><span style="color:#361506; font-weight:bold; font-size:17px; font-family:Arial; width:188px; display:block">&Eacute;TAPE 3 : PARTAGEZ</span><br><span style="color:#361506; font-size:17px; font-family:Arial; display:block">Je <span style="font-weight:bold;">partage facilement</span> ma liste de naissance avec mes proches.</span></td>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_18.png" border="0" style="display:block"></td>
                    </tr>
                </table>
                <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
                    <tr>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_19.png" border="0" style="display:block"></td>
                    </tr>
                </table>
                <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
                    <tr>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_20.png" border="0" style="display:block"></td>
                        <td><a href="http://www.poussedebambin.com/" target="_blank"><img src="newsletter_21.png" border="0" style="display:block"></a></td>
                        <td><img src="http://www.poussedebambin.com/Content/newsletter/img/pitch/newsletter_22.png" border="0" style="display:block"></td>
                    </tr>
                </table>
                <table align="center" width="600" border="0" cellpadding="0" cellspacing="0" border-spacing="0">
                    <tr>
                        <td align="left" valign="top"><span style="color:#e1d998; font-weight:bold; font-size:18px; font-family:Arial; background-color: #342b24; text-align:center; display:block">&copy; Pousse de bambin, 2014</span></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


</body>

</html>
