@model PousseDeBambin.Models.List

<div>Bienvenue dans la création de votre liste !</div>
<div>Commencez par entrer l'adresse url de votre premier objet, puis cliquez sur rechercher !</div>
<div>Pour rentrer une nouvel objet, cliquez simplement sur "Ajouter une nouvel objet"</div>
<div>Il ne vous reste plus qu'à cliquer sur "Valider ma liste", et la partager pour qu'elle soit visible par vos proches !</div>

<table id="ListsGifts" class="table">
    <tr id="headerTableGifts">
        <th class="cat_list_cadeau">Image</th>
        <th class="cat_list_cadeau">Objet</th>
        <th class="cat_list_cadeau">Prix</th>
        <th class="cat_list_cadeau">Gestion</th>
    </tr>
    ***REMOVED*** On affiche tous les cadeaux déjà entrés -->
    @Html.Action("DisplayGifts", "List", new { id = Model.ListId })

    <tr class="fond_cadeaux" id="createForm">
        @Html.Action("CreatePartialTwo", "Gift", new { listID = Model.ListId })
    </tr>



    ***REMOVED*** On Success, on update en ajax la liste des gifts -->
</table>

<script>
    function refreshGiftsList() {
        var urlRefresh = "@Url.Action("DisplayGifts", "List", new { id = Model.ListId })";
        var request = $.ajax({
            type: "GET",
            url: urlRefresh,
            dataType: "json",
            complete: function (data, status) {
                // On rafraichit la liste des objets
                $("#headerTableGifts").nextUntil("#createForm").replaceWith("");
                $("#headerTableGifts").insertAfter(data.responseText);
            }
        });
    }
</script>
