@model PousseDeBambin.Models.List

<div>Bienvenue dans la création de votre liste !</div>
<div>Commencez par entrer l'adresse url de votre premier objet, puis cliquez sur rechercher !</div>
<div>Pour rentrer une nouvel objet, cliquez simplement sur "Ajouter une nouvel objet"</div>
<div>Il ne vous reste plus qu'à cliquer sur "Valider ma liste", et la partager pour qu'elle soit visible par vos proches !</div>

<div id="ListsGifts" class="table">
    <div>
        <div class="cat_list_cadeau">Image</div>
        <div class="cat_list_cadeau">Objet</div>
        <div class="cat_list_cadeau">Prix</div>
        <div class="cat_list_cadeau">Gestion</div>
    </div>
    ***REMOVED*** On affiche tous les cadeaux déjà entrés -->
    <div id="giftsList">
            @Html.Action("GiftsListTwo", "List", new { listId = Model.ListId })
    </div>
    
    @using (Ajax.BeginForm("CreatePartialTwo", "Gift", new AjaxOptions
                                        {
                                            UpdateTargetId = "createForm",
                                            HttpMethod = "Post",
                                            InsertionMode = InsertionMode.Replace,
                                            OnSuccess = "refreshGiftsList"
                                        }))
    {
        <div class="fond_cadeaux" id="createForm">
            @Html.Action("CreatePartialTwo", "Gift", new { listID = Model.ListId })
        </div>
    }

    ***REMOVED*** On Success, on update en ajax la liste des gifts -->
</div>

<script>
        function refreshGiftsList()
        {
            var urlRefresh = "@Url.Action("GiftsListTwo", "List", new { listId = Model.ListId })";
            $.ajax({
                type: "GET",
                url: urlRefresh,
                dataType: "json",
                success: successReplaceGiftsList
            });
        }

    function successReplaceGiftsList(data, status) {
        alert("Bien joue !");
            $("#giftsList").html(data);
        }
</script>
