@model PousseDeBambin.Models.List

<div>Bienvenue dans la création de votre liste !</div>
<div>Commencez par entrer l'adresse url de votre premier objet, puis cliquez sur rechercher !</div>
<div>Pour rentrer une nouvel objet, cliquez simplement sur "Ajouter une nouvel objet"</div>
<div>Il ne vous reste plus qu'à cliquer sur "Valider ma liste", et la partager pour qu'elle soit visible par vos proches !</div>

@using (Ajax.BeginForm("CreatePartial", "Gift", new AjaxOptions
                                {
                                    UpdateTargetId = "divCreateGift",
                                    HttpMethod = "Post",
                                    InsertionMode = InsertionMode.InsertAfter,
                                    OnSuccess = "CompleteCreate"
                                }))
{
    <div id="divCreateGift">
        @Html.Action("CreatePartial", "Gift", new { listID = Model.ListId })
    </div>
}

