<div id="news">
    <div class="warning_news">
        <button class="warning_news" data-toggle="modal" data-target="#myModal">!</button>
</div>
    <p>Cliquer pour découvrir les nouveautés du site</p>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog_news">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal_news_title" id="myModalLabel">Les nouveautés du site :</h4>
            </div>
            <div class="news_body">
                <div class="modale_subtitle">Désormais sur le site :</div>
                    <div class="now_available">
                        <ul>
                            <li>Exemple 1 <a href="#" class="discover_news">aperçu</a></li>
                            <li>Exemple 2 <a href="#" class="discover_news">aperçu</a></li>
                            <li>Exemple 3 <a href="#" class="discover_news">aperçu</a></li>
                            <li>Exemple 4 <a href="#" class="discover_news">aperçu</a></li>
                        </ul>
                    </div>                
                <div class="modale_subtitle">Nouveautés à venir :</div>
                    <div class="incoming">
                    <ul>
                        <li>Exemple 1</li>
                        <li>Exemple 2</li>
                        <li>Exemple 3</li>
                        <li>Exemple 4</li>
                    </ul>
                </div>
                    <div class="news_suggestion">
                        N’hésitez pas à nous faire part de tous vos commentaires, conseils et désirs concernant le site Pousse de Bambin
                    </div>
                    <div class="news_comment">
                        <input type="text" id="inputName" class="input_pdb" required placeholder="Votre prénom et nom :)" />
                        <textarea id="inputMessage" placeholder="Vos suggestions :)"></textarea>
                    </div>
            </div>
            <div class="modal-footer_news">                
                <button type="button" class="send_comment">Envoyer vos commentaires</button>
            </div>
        </div>
    </div>
</div>