@model PousseDeBambin.Models.LoginViewModel

@{
    Layout = null;
}

<div class="barre_connexion">
    <!-- Si l'utilisateur n'est pas identifié, on affiche un formulaire de login + register -->
    @using (Html.BeginForm("LoginBar", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "validationConnexionBar" })

        <div class="form-group">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = " Nom d'utilisateur" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = " Mot de passe" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2">
                <!--<img id="searchAjaxLoading" class="ajaxLoadingGift" src="/Content/img/loading/ajax-loader.gif" alt="Loading"
                     style="display: none"/>-->
                <input type="submit" id="submitLogin" value="Se connecter" class="btn btn-default" />
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function beginLogin() {
        $("#submitLogin").attr("value", "Connexion en cours...");
        $("#submitLogin").prop('disabled', true);
    }
</script>