<div class="howItWorks_main">
    <div class="panel-heading">

        <p class="marche">Comment ça marche ?</p>
        ***REMOVED***<div id="enSavoirPlusFooter" class="col-md-6">
            @Html.ActionLink("En savoir plus...", "Help", "Miscellanous", null, null)
        </div>-->

    </div>
    <div class="panel-body">
        <div class="step step1">

            <p class="numberHowItWorks">ÉTAPE 1</p>

            <p class="howItWorksText">

                Je crée ma liste <br />
                de naissance<br />
                gratuitement, en quelques clics

            </p>
        </div>
        <div class="step step2">

            <p class="numberHowItWorks">ÉTAPE 2</p>

            <p class="howItWorksText">

                J'ajoute les articles<br />
                de mon choix parmi toutes<br />
                les enseignes

            </p>
        </div>
        <div class="step step3">

            <p class="numberHowItWorks">ÉTAPE 3</p>

            <p class="howItWorksText">

                Je partage facilement ma liste<br />
                de naissance avec mes <br />
                proches

            </p>
        </div>
    </div>
</div>
