<div class="panel panel-mlc-footer">
    <div class="panel-heading">
        <div class="row">
            <div class="marche">
                <p>Comment ça marche ?</p>
            </div>
            <div id="enSavoirPlusFooter" class="col-md-6">
                @Html.ActionLink("En savoir plus...", "Help", "Miscellanous", null, null)
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 howItWorks">
                <div class="divNumberHowItWorks">
                    <p class="numberHowItWorks">1</p>
                </div>
                <p class="howItWorksText">
                    <span class="howItWorksTextBig">
                        JE CREE MA LISTE<br />
                        DE NAISSANCE<br />
                        gratuitement, en quelques clics
                    </span>
                </p>
            </div>
            <div class="col-md-4 howItWorks">
                <div class="divNumberHowItWorks">
                    <p class="numberHowItWorks">2</p>
                </div>
                <p class="howItWorksText">
                    <span class="howItWorksTextBig">
                        J'AJOUTE LES ARTICLES<br />
                        DE MON CHOIX DEPUIS TOUTES<br />
                        LES ENSEIGNES
                    </span>
                </p>
            </div>
            <div class="col-md-4 howItWorks">
                <div class="divNumberHowItWorks">
                    <p class="numberHowItWorks">3</p>
                </div>
                <p class="howItWorksText">
                    <span class="howItWorksTextBig">
                        JE PARTAGE FACILEMENT MA LISTE<br />
                        DE NAISSANCE AVEC MES<br />
                        PROCHES
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
