<div class="howItWorks_main" >
    <div class="panel-heading">
        
            <div class="marche">
                <p>Comment ça marche ?</p>
            </div>
            ***REMOVED***<div id="enSavoirPlusFooter" class="col-md-6">
                @Html.ActionLink("En savoir plus...", "Help", "Miscellanous", null, null)
            </div>-->
       
    </div>
    <div class="panel-body">
            <div class="step step1">
                <div class="divNumberHowItWorks">
                    <p class="numberHowItWorks">ÉTAPE 1</p>
                </div>
                <p class="howItWorksText">
                    <span class="howItWorksTextBig">
                        Je crée ma liste <br />
                        de naissance<br />
                        gratuitement, en quelques clics
                    </span>
                </p>
            </div>
            <div class="step step2">
                <div class="divNumberHowItWorks">
                    <p class="numberHowItWorks">ÉTAPE 2</p>
                </div>
                <p class="howItWorksText">
                    <span class="howItWorksTextBig">
                        J'ajoute les articles<br />
                        de mon choix parmi toutes<br />
                        les enseignes
                    </span>
                </p>
            </div>
            <div class="step step3">
                <div class="divNumberHowItWorks">
                    <p class="numberHowItWorks">ÉTAPE 3</p>
                </div>
                <p class="howItWorksText">
                    <span class="howItWorksTextBig">
                        Je partage facilement ma liste<br />
                        de naissance avec mes <br />
                        proches
                    </span>
                </p>
            </div>
    </div>
</div>
