<div class="alert alert-success alert-dismissable text-beta">
    Pousse De Bambin vient de naître...et, comme tout être, va se perfectionner petit à petit. Ainsi
    <a href="mailto:community@poussedebambin.com?subject=Retour Pousse De Bambin&body=Bonjour," target="_blank" class="alert-link">contactez nous</a> pour faire votre retour ! Vous ferez des pousses heureuses !
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
