<div id="texteFooter">
    <p>Pousse De Bambin est un site internet qui vous propose de créer votre liste de naissance et de la partager avec votre entourage, cela gratuitement et en toute simplicité !
    <br/>
        En France, il est de tradition d'offrir des cadeaux à la naissance d'un enfant, l'inconvénient, c'est souvent que l'on reçoit des cadeaux qu'on ne souhaite pas (la fameuse Sophie la Girafe), et/ou en plusieurs exemplaires (tout le monde veut offrir le doudou !).
    <br/>
        Nous avons décidé de rendre service aux futurs parents en leur permettant de créer leur liste d'envies. Dès qu'un cadeau que vous avez selctionné est fait, il est retiré de la liste de naissance et donc impossible de l'avoir en double ! Cela vous permet de gérer l'arrivée du bébé en sachant à l'avance ce que vous avez et ce dont vous aurez besoin
    </p>
</div>
