@{
    ViewBag.Title = "Qui sommes nous ?";
}
<div class="who_we_are">
    <div class="photos">
        <div class="photoremi"></div>
        <div class="photomarion"></div>
    </div>
    <div class="who_we_are_text">
        <h2 class="who_we_are_title">Qui sommes nous ?</h2>
        <p>Rémi et Marion travaillent tous les deux sur le projet <span class="name">Pousse De Bambin.</span></p>
        <p>Rémi est diplômé de l'école d'ingénieur en développement logiciel de <a href="http://www.cpe.fr/" target="_blank">CPE Lyon</a>.</p>
        <p>Marion est diplômée de l'école Supérieure d'Infographie <a href="http://www.ecolearies.fr/" target="_blank">ARIES</a>.</p>
        <p>
            <br />Après plusieurs participations à des listes de naissance, pour leurs proches, il leur est apparu, à tous les deux, qu'il manquait quelque chose de plus original, plus proche,
            et plus innovant qu'une simple liste sur laquelle mettre des objets. C'est ainsi qu'est né <span class="name">Pousse De Bambin</span> !
        </p>
        <p>"On espère que vous aurez autant de plaisir à utiliser <span class="name">Pousse De Bambin</span> que nous en avons à le créer !"</p>
        <p><br />Rémi et Marion</p>
    </div>
</div>

<div class="who_we_are_line"></div>

<div class="who_we_are_follow">
    <div class="photos_follow">
        <div class="photomarjorie"></div>
    </div>
    <div class="who_we_are_text">
        <h2 class="who_we_are_title">Autres collaborateurs</h2>
        <p>Marjorie a rejoint l’équipe Pousse De Bambin au poste de Webdesigner stagiaire pour une durée de 3 mois.</p>
        <p>Elle est actuellement en fin de deuxième année de classe préparatoire intégrée, à l'<a href="http://www.4mm.fr/" target="_blank">Institut G4 de Lyon</a>, en Multimédia/Management.</p>
        <p>Marjorie</p>
    </div>
</div>
