
@{
    ViewBag.Title = "WhoAreWe";
}

<h2>Qui sommes nous ?</h2>
<p>Rémi et Marion travaillent tous les deux sur le projet <span class="name">Pousse De Bambin</span></p>
<p>Rémi est diplômé de l'école d'ingénieur en développement logiciel de <a href="http://www.cpe.fr/" target="_blank">CPE Lyon</a>.</p>
<p>Marion est diplômée de l'école Supérieure d'Infographie <a href="http://www.ecolearies.fr/" target="_blank">ARIES</a>.</p>
<p>Après plusieurs participations a des listes de naissance, pour leurs proches, il leur est apparu, à tous les deux, qu'il manquait quelque chose de plus original, plus proche, 
    et plus innovant qu'une simple liste sur laquelle mettre des objets. C'est ainsi qu'est né <span class="name">Pousse De Bambin</span> !</p>
<p>On espère que vous aurez autant de plaisir à utiliser <span class="name">Pousse De Bambin</span> que nous en avons à le créer !</p>
<p>Rémi et Marion</p>

