***REMOVED***
***REMOVED***
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://poussedebambin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>poussedebambin</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$poussedebambin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:gdz9sjjwrj.database.windows.net,1433;Initial Catalog=poussedAUCGHgQLo;User ID=admin_pdb@gdz9sjjwrj;Password=Ota387fN" Name="Data Source=tcp:gdz9sjjwrj.database.windows.net,1433;Initial Catalog=poussedAUCGHgQLo;User Id=admin_pdb@gdz9sjjwrj;Password=Ota387fN;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PousseDeBambin.Models.ApplicationDbContext, PousseDeBambin" MigrationConfiguration="PousseDeBambin.Migrations.Configuration, PousseDeBambin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gdz9sjjwrj.database.windows.net,1433;Initial Catalog=poussedAUCGHgQLo;User Id=admin_pdb@gdz9sjjwrj;Password=Ota387fN;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>